# Игнорируем папку .idea и всё содержимое
.idea/

# Игнорируем папку target в корне проекта и во всех модулях
target/
**/target/

# Исключение для Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Исключения для папок target внутри src/main и src/test (если они есть)
#!**/src/main/**/target/
#!**/src/test/**/target/

# Дополнительные игнорируемые файлы
checkstyle.xml
docker-compose.yml

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven ###
#pom.xml
#pom.xml.tag
#pom.xml.releaseBackup
#pom.xml.versionsBackup
#pom.xml.next
#release.properties
#dependency-reduced-pom.xml
#buildNumber.properties
#.mvn/timing.properties
## https://github.com/takari/maven-wrapper#usage-without-binary-jar
#.mvn/wrapper/maven-wrapper.jar
target/
**/target/
